.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
a {
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-top: 30px;
}

.nav-links li a {
  display: inline-block;
  color: #000; 
  text-decoration: none;
  font-weight: 600;
  font-size: 1.0rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover {
  transform: scale(1.05);
  color: #007BFF;
}


.JoinNow {
  display: block;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
}

/* Hide the dropdown Join on desktop */
.nav-links li a.Join {
  display: none;
}
.Join {
  display: none;
}

/* Mobile view */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .navbar {
  padding: 15px 30px;
}

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 60%; 
    flex-direction: column;
    background: white;        
    display: none;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .nav-links li a.Join {
    display: block;
  }
  .Join {
    display: block;
    background: black;
    color: white !important;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 900;
    margin: 1px auto;
    width: 50%;
  }

  .JoinNow {
    display: none;
  }
}