body {
  margin: 0;
  padding: 0;
}
.hero2 {
  background-image: url("assets/strawberry-field copy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}